1. Manually creating dataframes
2. Reading data from external file
3. peripheral summary of the data
4. Subsetting on the basis of rownumber,colnumber
5. subsetting on the basis of condition
6. subsetting on the basis of column names

In [1]:
import pandas as pd
import numpy as np

In [2]:
age=np.random.randint(low=16,high=80,size=[20,])
city=np.random.choice(['Mumbai','Jorhat','Delhi','Duliajan'],20)
default =np.random.choice([0,1],20)

using zip to convert them into a single list of tuples

In [3]:
a=[1,2,3]
b=[8,9,0]
c=['a','b','c']
list(zip(a,b,c))

[(1, 8, 'a'), (2, 9, 'b'), (3, 0, 'c')]

In [4]:
#one way to check the data. Not recommended coz hard to read
mydata=list(zip(age,city,default)) #we get rows of data
mydata

[(23, 'Mumbai', 0),
 (59, 'Mumbai', 0),
 (61, 'Duliajan', 1),
 (42, 'Delhi', 1),
 (42, 'Mumbai', 1),
 (22, 'Mumbai', 0),
 (72, 'Jorhat', 0),
 (18, 'Jorhat', 1),
 (67, 'Jorhat', 0),
 (34, 'Delhi', 0),
 (24, 'Delhi', 0),
 (65, 'Jorhat', 1),
 (57, 'Mumbai', 1),
 (54, 'Jorhat', 1),
 (61, 'Delhi', 0),
 (69, 'Jorhat', 0),
 (55, 'Delhi', 1),
 (55, 'Delhi', 0),
 (22, 'Duliajan', 1),
 (50, 'Mumbai', 1)]

In [5]:
#Another way of looking into the data
df=pd.DataFrame(data=mydata,columns=['age','city','default'])
df

    age      city  default
0    23    Mumbai        0
1    59    Mumbai        0
2    61  Duliajan        1
3    42     Delhi        1
4    42    Mumbai        1
5    22    Mumbai        0
6    72    Jorhat        0
7    18    Jorhat        1
8    67    Jorhat        0
9    34     Delhi        0
10   24     Delhi        0
11   65    Jorhat        1
12   57    Mumbai        1
13   54    Jorhat        1
14   61     Delhi        0
15   69    Jorhat        0
16   55     Delhi        1
17   55     Delhi        0
18   22  Duliajan        1
19   50    Mumbai        1

In [6]:
#clearer way to give columns names is to give by a dictionary
df=pd.DataFrame({'age':age,'city':city,'default':default})
df

    age      city  default
0    23    Mumbai        0
1    59    Mumbai        0
2    61  Duliajan        1
3    42     Delhi        1
4    42    Mumbai        1
5    22    Mumbai        0
6    72    Jorhat        0
7    18    Jorhat        1
8    67    Jorhat        0
9    34     Delhi        0
10   24     Delhi        0
11   65    Jorhat        1
12   57    Mumbai        1
13   54    Jorhat        1
14   61     Delhi        0
15   69    Jorhat        0
16   55     Delhi        1
17   55     Delhi        0
18   22  Duliajan        1
19   50    Mumbai        1

Now we look at how to read fata from files in the system

In [38]:
#add r to make it a raw string 
file = r'D:\IITK Data Analytics\Python Data Analytics\Course work\Data Handling\Data-Handling-with-Python\data\loans data.csv'

In [39]:
df=pd.read_csv(file)

In [40]:
df

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [41]:
#to check number of rows and columns
df.shape

(2500, 15)

In [42]:
df.describe()
#25% ->
#50% ->
#75% ->

                  ID  Monthly.Income  Inquiries.in.the.Last.6.Months
count    2499.000000     2497.000000                     2497.000000
mean    51643.325330     5689.716608                        0.906688
std     30053.637661     3963.568002                        1.231149
min        10.000000      588.500000                        0.000000
25%     26570.500000     3500.000000                        0.000000
50%     50673.000000     5000.000000                        0.000000
75%     77583.000000     6800.000000                        1.000000
max    104202.000000   102750.000000                        9.000000

In [43]:
df.head() #to check the structure 
#df.tail()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [44]:
df

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [45]:
df.sample(5) #random samples

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
2002,89473.0,6800,6800,15.80%,36 months,debt_consolidation,15.43%,NC,RENT,2708.33,680-684,5,2964,0.0,1 year
2230,53454.0,6700,6700,7.90%,36 months,credit_card,22.19%,KS,RENT,2708.33,705-709,10,6627,0.0,2 years
1170,58987.0,20950,20950,13.67%,60 months,major_purchase,8.90%,IL,RENT,6666.67,745-749,7,5680,1.0,1 year
1094,41813.0,4800,4800,14.65%,60 months,other,22.38%,CO,RENT,3333.00,695-699,7,4147,2.0,3 years
7,22090.0,33500,33450,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12,27874,0.0,10+ years

In [46]:
#to get columns
df.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [47]:
df.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

object (or string) character (due to symbols %, . )

We would want to convert them to a number instead of a string.

In [48]:
#the best way to check the column instead of describe( ), dtype(),shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2499 non-null   float64
 1   Amount.Requested                2499 non-null   object
 2   Amount.Funded.By.Investors      2499 non-null   object
 3   Interest.Rate                   2500 non-null   object
 4   Loan.Length                     2499 non-null   object
 5   Loan.Purpose                    2499 non-null   object
 6   Debt.To.Income.Ratio            2499 non-null   object
 7   State                           2499 non-null   object
 8   Home.Ownership                  2499 non-null   object
 9   Monthly.Income                  2497 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2496 non-null   object
 12  Revolving.CREDIT.Balance        2497 non-null   object
 13  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 14  Employment.Length               2422 non-null   object
dtypes: float64(3), object(12)
memory usage: 293.1+ KB

Now we want to subset our data

In [49]:
df1=df.iloc[3:7,1:5] #works with absolute positions
df1 #but we dont use this in practice much

  Amount.Requested Amount.Funded.By.Investors Interest.Rate Loan.Length
3            10000                       9975         9.99%   36 months
4            12000                      12000        11.71%   36 months
5             6000                       6000        15.31%   36 months
6            10000                      10000         7.90%   36 months

In [50]:
df1.iloc[2:4,1:3]

  Amount.Funded.By.Investors Interest.Rate
5                       6000        15.31%
6                      10000         7.90%

Subsetting by conditions

In [51]:
df[(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000)]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
7,22090.0,33500,33450,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12,27874,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2494,49957.0,24000,23975,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13,17521,0.0,5 years
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years

In [52]:
df[['Home.Ownership','Monthly.Income']] #for multiple columns, give within lists

     Home.Ownership  Monthly.Income
0          MORTGAGE         6541.67
1          MORTGAGE         4583.33
2          MORTGAGE        11500.00
3          MORTGAGE         3833.33
4              RENT         3195.00
...             ...             ...
2495       MORTGAGE         9250.00
2496            OWN         8903.25
2497       MORTGAGE         2166.67
2498           RENT         3500.00
2499           RENT         3875.00

[2500 rows x 2 columns]

both conditions and column names we need to using .loc with dataframe name

In [53]:
#df.loc[(condition) & (condition) , Column names]
df.loc[(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000) , ['Home.Ownership','Monthly.Income']]

     Home.Ownership  Monthly.Income
0          MORTGAGE         6541.67
1          MORTGAGE         4583.33
2          MORTGAGE        11500.00
3          MORTGAGE         3833.33
7          MORTGAGE        13863.42
...             ...             ...
2493       MORTGAGE         7083.33
2494       MORTGAGE         6666.67
2495       MORTGAGE         9250.00
2496            OWN         8903.25
2497       MORTGAGE         2166.67

[1631 rows x 2 columns]

In [54]:
# Exercise: 
# ignore header of csv files and how to pass our own column names. 
# how to read first 100 lines from the file
# how to change default for missing values

if we want to negate a condition use '~' SIGN

In [55]:
df[~(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000)]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
5,62403.0,6000,6000,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17,10391,2.0,3 years
6,48808.0,10000,10000,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10,15957,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,49957.0,24000,23975,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13,17521,0.0,5 years
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

REmove columns using function 'drop()'

In [56]:
#axis=0 :rows , axis=1: columns

In [57]:
#changes are not made in the original dataframe. 
#store in variables to keep it stored

#But if we pass the argument inplace=True, then it will make changes in the original dataaset
df.drop(['Home.Ownership','Monthly.Income'],axis=1) #by default it looks for rows

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,670-674,7,7589,0.0,10+ years

In [58]:
df.columns #checking if columns are removed

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [59]:
df.drop(['Employment.Length'],axis=1,inplace=True)

In [60]:
df.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months'],
      dtype='object')

In [61]:
df.shape

(2500, 14)

In [62]:
# df=df.drop(['Interest.Rate'],axis=1,inplace=True) 
# #this is wrong becuase we are already storing it plus we are giving inmplace=True
# #this will return a none type object
# df

In [63]:
#removing rows. but not done much
df.drop([0,1,2],axis=0)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0
5,62403.0,6000,6000,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17,10391,2.0
6,48808.0,10000,10000,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10,15957,0.0
7,22090.0,33500,33450,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12,27874,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0

df.to_csv('filename',index=False) -> to upload to memory the new file

- ML models need the data to be numeric
- No missing values in the data is preferred

It is very important to find some way to represent data in a numeric way. 
eg: tweets,date,cities

- create columns with simple numerical expressions eg: ratio of two columns
- create conditional columns
- create columns with string operations eg: extract states from address

In [121]:
age=np.random.choice([15,20,30,45,12,'10',15,'34',7,'missing'],50)
fico=np.random.choice(['100-150','150-200','200-250','250-300'],50)

city=np.random.choice(['Mumbai','Delhi','Chennai','Kolkata'],50)
ID=np.arange(50)
rating = np.random.choice(['Excellent','Good','Bad','Pathetic'],50)
balance = np.random.choice([10000,20000,30000,40000,np.nan,50000,60000],50)
children=np.random.randint(high=5,low=0,size=50)

In [122]:
mydata=pd.DataFrame({'ID':ID,'age':age,'fico':fico,'city':city,'rating':rating,'balance':balance,'children':children})

In [123]:
mydata

    ID      age     fico     city     rating  balance  children
0    0       45  100-150  Chennai   Pathetic      NaN         1
1    1       34  200-250   Mumbai   Pathetic  20000.0         3
2    2  missing  250-300    Delhi       Good  20000.0         4
3    3       30  200-250    Delhi  Excellent  30000.0         2
4    4       20  200-250   Mumbai       Good  60000.0         4
5    5  missing  200-250   Mumbai  Excellent  40000.0         4
6    6       45  200-250  Kolkata        Bad  40000.0         1
7    7       30  100-150   Mumbai   Pathetic  50000.0         4
8    8       45  150-200    Delhi       Good      NaN         2
9    9       10  150-200   Mumbai   Pathetic  30000.0         2
10  10       15  200-250  Kolkata       Good  50000.0         3
11  11       15  200-250  Chennai        Bad  60000.0         0
12  12       34  200-250  Kolkata       Good  50000.0         2
13  13  missing  150-200   Mumbai  Excellent  20000.0         0
14  14  missing  100-150  Chennai       Good  60000.0         0
15  15       15  150-200   Mumbai        Bad  50000.0         2
16  16       15  200-250   Mumbai   Pathetic  10000.0         4
17  17       34  250-300    Delhi       Good      NaN         0
18  18       10  250-300   Mumbai  Excellent  20000.0         0
19  19       15  150-200   Mumbai        Bad  10000.0         0
20  20       34  200-250  Chennai       Good  60000.0         3
21  21       15  100-150  Kolkata   Pathetic  20000.0         2
22  22       10  200-250  Chennai   Pathetic      NaN         2
23  23  missing  200-250   Mumbai        Bad  20000.0         1
24  24       30  200-250  Chennai       Good  40000.0         2
25  25       10  100-150    Delhi        Bad  10000.0         3
26  26        7  200-250    Delhi        Bad  30000.0         3
27  27       30  150-200  Kolkata       Good  40000.0         3
28  28       45  100-150    Delhi        Bad  50000.0         0
29  29       45  100-150  Kolkata   Pathetic      NaN         1
30  30       10  250-300  Chennai  Excellent      NaN         4
31  31       15  250-300  Kolkata   Pathetic  50000.0         2
32  32       45  250-300  Chennai   Pathetic  50000.0         0
33  33       34  250-300  Chennai   Pathetic  50000.0         0
34  34       12  200-250  Kolkata  Excellent      NaN         1
35  35        7  200-250  Chennai       Good  30000.0         4
36  36       20  100-150    Delhi  Excellent  60000.0         3
37  37        7  100-150   Mumbai  Excellent  40000.0         4
38  38       34  250-300    Delhi   Pathetic  10000.0         2
39  39       15  250-300  Kolkata       Good  10000.0         0
40  40  missing  100-150  Chennai  Excellent  10000.0         2
41  41  missing  250-300  Kolkata       Good  20000.0         0
42  42       45  100-150  Kolkata       Good  50000.0         1
43  43        7  200-250  Chennai       Good  10000.0         0
44  44       12  150-200   Mumbai       Good  60000.0         1
45  45       15  250-300   Mumbai  Excellent  60000.0         0
46  46        7  250-300   Mumbai   Pathetic  20000.0         0
47  47       34  200-250   Mumbai        Bad  60000.0         3
48  48       45  200-250   Mumbai  Excellent  40000.0         0
49  49       12  250-300    Delhi        Bad      NaN         4

In [124]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        50 non-null     int32
 1   age       50 non-null     object
 2   fico      50 non-null     object
 3   city      50 non-null     object
 4   rating    50 non-null     object
 5   balance   42 non-null     float64
 6   children  50 non-null     int32
dtypes: float64(1), int32(2), object(4)
memory usage: 2.5+ KB

In [125]:
#columns in the pandas dataframe are of type SEries

In [126]:
a=pd.Series(['2','3','4','6','lalit'])
a

0        2
1        3
2        4
3        6
4    lalit
dtype: object

In [127]:
# a.astype(float)

In [128]:
#mostly used/ coerce assigns NaN to missing or different dtype values}
pd.to_numeric(a,errors='coerce')

0    2.0
1    3.0
2    4.0
3    6.0
4    NaN
dtype: float64

In [129]:
mydata['age']=pd.to_numeric(mydata['age'],errors='coerce')

In [130]:
mydata['age']

0     45.0
1     34.0
2      NaN
3     30.0
4     20.0
5      NaN
6     45.0
7     30.0
8     45.0
9     10.0
10    15.0
11    15.0
12    34.0
13     NaN
14     NaN
15    15.0
16    15.0
17    34.0
18    10.0
19    15.0
20    34.0
21    15.0
22    10.0
23     NaN
24    30.0
25    10.0
26     7.0
27    30.0
28    45.0
29    45.0
30    10.0
31    15.0
32    45.0
33    34.0
34    12.0
35     7.0
36    20.0
37     7.0
38    34.0
39    15.0
40     NaN
41     NaN
42    45.0
43     7.0
44    12.0
45    15.0
46     7.0
47    34.0
48    45.0
49    12.0
Name: age, dtype: float64

Creating columns by algebric calculations

In [131]:
mydata['const_var']=100
mydata['log_balance']= np.log(mydata['balance'])
mydata['age_children_ratio']=mydata['age']/mydata['children']

In [132]:
2/np.nan #operations with NaN will give NaN as a rule

nan

In [133]:
mydata
#we getting inf and NaN in created columns

,ID,age,fico,city,rating,balance,children,const_var,log_balance,age_children_ratio
0,0,45.0,100-150,Chennai,Pathetic,NaN,1,100,NaN,45.000000
1,1,34.0,200-250,Mumbai,Pathetic,20000.0,3,100,9.903488,11.333333
2,2,NaN,250-300,Delhi,Good,20000.0,4,100,9.903488,NaN
3,3,30.0,200-250,Delhi,Excellent,30000.0,2,100,10.308953,15.000000
4,4,20.0,200-250,Mumbai,Good,60000.0,4,100,11.002100,5.000000
...,...,...,...,...,...,...,...,...,...,...
45,45,15.0,250-300,Mumbai,Excellent,60000.0,0,100,11.002100,inf
46,46,7.0,250-300,Mumbai,Pathetic,20000.0,0,100,9.903488,inf
47,47,34.0,200-250,Mumbai,Bad,60000.0,3,100,11.002100,11.333333
48,48,45.0,200-250,Mumbai,Excellent,40000.0,0,100,10.596635,inf
49,49,12.0,250-300,Delhi,Bad,NaN,4,100,NaN,3.000000

we can use function isnull() to identify values which are missing

In [134]:
a=pd.Series([True,False,True,False,False])
a.astype(int) # True and False are stored as 1 and 0

0    1
1    0
2    1
3    0
4    0
dtype: int32

In [135]:
print(mydata['age'].isnull()) #true where values if NaN

0     False
1     False
2      True
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40     True
41     True
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: age, dtype: bool

In [136]:
mydata.isnull().sum() #getting total null values

ID                    0
age                   7
fico                  0
city                  0
rating                0
balance               8
children              0
const_var             0
log_balance           8
age_children_ratio    7
dtype: int64

In [116]:
#Unless we have a lot of missing values
#replace missing values with mean/median values. 
#

In [137]:
mydata.loc[mydata['age'].isnull(),'age']=mydata['age'].mean() #only age missing rows of data

In [138]:
mydata['age'].isnull().sum() #removed missing values

0

In [139]:
mydata['age_children_ratio'] = mydata['age']/mydata['children']

In [140]:
mydata

,ID,age,fico,city,rating,balance,children,const_var,log_balance,age_children_ratio
0,0,45.000000,100-150,Chennai,Pathetic,NaN,1,100,NaN,45.000000
1,1,34.000000,200-250,Mumbai,Pathetic,20000.0,3,100,9.903488,11.333333
2,2,23.581395,250-300,Delhi,Good,20000.0,4,100,9.903488,5.895349
3,3,30.000000,200-250,Delhi,Excellent,30000.0,2,100,10.308953,15.000000
4,4,20.000000,200-250,Mumbai,Good,60000.0,4,100,11.002100,5.000000
...,...,...,...,...,...,...,...,...,...,...
45,45,15.000000,250-300,Mumbai,Excellent,60000.0,0,100,11.002100,inf
46,46,7.000000,250-300,Mumbai,Pathetic,20000.0,0,100,9.903488,inf
47,47,34.000000,200-250,Mumbai,Bad,60000.0,3,100,11.002100,11.333333
48,48,45.000000,200-250,Mumbai,Excellent,40000.0,0,100,10.596635,inf
49,49,12.000000,250-300,Delhi,Bad,NaN,4,100,NaN,3.000000

Changing values using conditions

In [141]:
# np.where is versatile. the 1 (if condition holds) and 0 retunred can be anything as required.
#it can also be some columns/strings etc.
mydata['rating_score'] = np.where(mydata['rating'].isin(['Good','Excellent']),1,0)

In [143]:
# versatile np.where example
np.where(mydata['rating'].isin(['Good','Excellent']),mydata['fico'],mydata['children']*mydata['age'])

array([45.0, 102.0, '250-300', '200-250', '200-250', '200-250', 45.0,
       120.0, '150-200', 20.0, '200-250', 0.0, '200-250', '150-200',
       '100-150', 30.0, 60.0, '250-300', '250-300', 0.0, '200-250', 30.0,
       20.0, 23.58139534883721, '200-250', 30.0, 21.0, '150-200', 0.0,
       45.0, '250-300', 30.0, 0.0, 0.0, '200-250', '200-250', '100-150',
       '100-150', 68.0, '250-300', '100-150', '250-300', '100-150',
       '200-250', '150-200', '250-300', 0.0, 102.0, '200-250', 48.0],
      dtype=object)

In [144]:
#Exercise: Remapping
# a=pd.Series(['abc','AWE','rtf','abc'])
# a=> ['A','B','C','A']

#hint: np.where(nested) not a great way
#another way: 'replace' with a dictionalry map

In [146]:
#another way to subset columns. 
mydata.loc[mydata['rating']=='Pathetic','rating_score']=-1

In [147]:
mydata.head()

,ID,age,fico,city,rating,balance,children,const_var,log_balance,age_children_ratio,rating_score
0,0,45.000000,100-150,Chennai,Pathetic,NaN,1,100,NaN,45.000000,-1
1,1,34.000000,200-250,Mumbai,Pathetic,20000.0,3,100,9.903488,11.333333,-1
2,2,23.581395,250-300,Delhi,Good,20000.0,4,100,9.903488,5.895349,1
3,3,30.000000,200-250,Delhi,Excellent,30000.0,2,100,10.308953,15.000000,1
4,4,20.000000,200-250,Mumbai,Good,60000.0,4,100,11.002100,5.000000,1

In [148]:
#to update fico with average of the range

In [153]:
#whenever we need to perform a string function such as split
#use them on data['column'].str 
mydata['fico'].str.split('-',expand=True) #expalnd=True makes it a dataframe

#are these nmumeric? No, they are objects. so changee them

      0    1
0   100  150
1   200  250
2   250  300
3   200  250
4   200  250
5   200  250
6   200  250
7   100  150
8   150  200
9   150  200
10  200  250
11  200  250
12  200  250
13  150  200
14  100  150
15  150  200
16  200  250
17  250  300
18  250  300
19  150  200
20  200  250
21  100  150
22  200  250
23  200  250
24  200  250
25  100  150
26  200  250
27  150  200
28  100  150
29  100  150
30  250  300
31  250  300
32  250  300
33  250  300
34  200  250
35  200  250
36  100  150
37  100  150
38  250  300
39  250  300
40  100  150
41  250  300
42  100  150
43  200  250
44  150  200
45  250  300
46  250  300
47  200  250
48  200  250
49  250  300

In [155]:
k=mydata['fico'].str.split('-',expand=True).astype(float)
mydata['fico1'],mydata['fico2']=k[0],k[1]

In [157]:
del mydata['fico']

In [158]:
mydata

,ID,age,city,rating,balance,children,const_var,log_balance,age_children_ratio,rating_score,fico1,fico2
0,0,45.000000,Chennai,Pathetic,NaN,1,100,NaN,45.000000,-1,100.0,150.0
1,1,34.000000,Mumbai,Pathetic,20000.0,3,100,9.903488,11.333333,-1,200.0,250.0
2,2,23.581395,Delhi,Good,20000.0,4,100,9.903488,5.895349,1,250.0,300.0
3,3,30.000000,Delhi,Excellent,30000.0,2,100,10.308953,15.000000,1,200.0,250.0
4,4,20.000000,Mumbai,Good,60000.0,4,100,11.002100,5.000000,1,200.0,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...
45,45,15.000000,Mumbai,Excellent,60000.0,0,100,11.002100,inf,1,250.0,300.0
46,46,7.000000,Mumbai,Pathetic,20000.0,0,100,9.903488,inf,-1,250.0,300.0
47,47,34.000000,Mumbai,Bad,60000.0,3,100,11.002100,11.333333,0,200.0,250.0
48,48,45.000000,Mumbai,Excellent,40000.0,0,100,10.596635,inf,1,200.0,250.0
49,49,12.000000,Delhi,Bad,NaN,4,100,NaN,3.000000,0,250.0,300.0

- categorical and numerical information
- ordinal data (eg:fico): both numeric and categorical
- ordinal data is rare.

To change categorical to numeric:
- create flag/dummies/one hot encoded information
    we create one 0 variable
    
    ## If there are n categories, we need to make (n-1) dummies
    sum (dummy variables) =1

# working with cyclic data
one way: date difference

other way:
Some datas are cyclic in nature. eg days,months etx.
solution: we create two columns of cyclic functions

sin(2pix/cycle_freq) and cos(2pix/cycle_freq). if we plot these two together
we get a perfect circle.

In [163]:
dummy=pd.get_dummies(mydata['rating'],prefix='rating',drop_first=True)

In [165]:
mydata=pd.concat([mydata,dummy],axis=1)

In [166]:
del mydata['rating']

In [167]:
mydata

,ID,age,city,balance,children,const_var,log_balance,age_children_ratio,rating_score,fico1,fico2,rating_Excellent,rating_Good,rating_Pathetic
0,0,45.000000,Chennai,NaN,1,100,NaN,45.000000,-1,100.0,150.0,0,0,1
1,1,34.000000,Mumbai,20000.0,3,100,9.903488,11.333333,-1,200.0,250.0,0,0,1
2,2,23.581395,Delhi,20000.0,4,100,9.903488,5.895349,1,250.0,300.0,0,1,0
3,3,30.000000,Delhi,30000.0,2,100,10.308953,15.000000,1,200.0,250.0,1,0,0
4,4,20.000000,Mumbai,60000.0,4,100,11.002100,5.000000,1,200.0,250.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,45,15.000000,Mumbai,60000.0,0,100,11.002100,inf,1,250.0,300.0,1,0,0
46,46,7.000000,Mumbai,20000.0,0,100,9.903488,inf,-1,250.0,300.0,0,0,1
47,47,34.000000,Mumbai,60000.0,3,100,11.002100,11.333333,0,200.0,250.0,0,0,0
48,48,45.000000,Mumbai,40000.0,0,100,10.596635,inf,1,200.0,250.0,1,0,0
49,49,12.000000,Delhi,NaN,4,100,NaN,3.000000,0,250.0,300.0,0,0,0