1. Manually creating dataframes
2. Reading data from external file
3. peripheral summary of the data
4. Subsetting on the basis of rownumber,colnumber
5. subsetting on the basis of condition
6. subsetting on the basis of column names

In [1]:
import pandas as pd
import numpy as np

In [2]:
age=np.random.randint(low=16,high=80,size=[20,])
city=np.random.choice(['Mumbai','Jorhat','Delhi','Duliajan'],20)
default =np.random.choice([0,1],20)

using zip to convert them into a single list of tuples

In [3]:
a=[1,2,3]
b=[8,9,0]
c=['a','b','c']
list(zip(a,b,c))

[(1, 8, 'a'), (2, 9, 'b'), (3, 0, 'c')]

In [4]:
#one way to check the data. Not recommended coz hard to read
mydata=list(zip(age,city,default)) #we get rows of data
mydata

[(23, 'Mumbai', 0),
 (59, 'Mumbai', 0),
 (61, 'Duliajan', 1),
 (42, 'Delhi', 1),
 (42, 'Mumbai', 1),
 (22, 'Mumbai', 0),
 (72, 'Jorhat', 0),
 (18, 'Jorhat', 1),
 (67, 'Jorhat', 0),
 (34, 'Delhi', 0),
 (24, 'Delhi', 0),
 (65, 'Jorhat', 1),
 (57, 'Mumbai', 1),
 (54, 'Jorhat', 1),
 (61, 'Delhi', 0),
 (69, 'Jorhat', 0),
 (55, 'Delhi', 1),
 (55, 'Delhi', 0),
 (22, 'Duliajan', 1),
 (50, 'Mumbai', 1)]

In [5]:
#Another way of looking into the data
df=pd.DataFrame(data=mydata,columns=['age','city','default'])
df

    age      city  default
0    23    Mumbai        0
1    59    Mumbai        0
2    61  Duliajan        1
3    42     Delhi        1
4    42    Mumbai        1
5    22    Mumbai        0
6    72    Jorhat        0
7    18    Jorhat        1
8    67    Jorhat        0
9    34     Delhi        0
10   24     Delhi        0
11   65    Jorhat        1
12   57    Mumbai        1
13   54    Jorhat        1
14   61     Delhi        0
15   69    Jorhat        0
16   55     Delhi        1
17   55     Delhi        0
18   22  Duliajan        1
19   50    Mumbai        1

In [6]:
#clearer way to give columns names is to give by a dictionary
df=pd.DataFrame({'age':age,'city':city,'default':default})
df

    age      city  default
0    23    Mumbai        0
1    59    Mumbai        0
2    61  Duliajan        1
3    42     Delhi        1
4    42    Mumbai        1
5    22    Mumbai        0
6    72    Jorhat        0
7    18    Jorhat        1
8    67    Jorhat        0
9    34     Delhi        0
10   24     Delhi        0
11   65    Jorhat        1
12   57    Mumbai        1
13   54    Jorhat        1
14   61     Delhi        0
15   69    Jorhat        0
16   55     Delhi        1
17   55     Delhi        0
18   22  Duliajan        1
19   50    Mumbai        1

Now we look at how to read fata from files in the system

In [7]:
#add r to make it a raw string 
file = r'D:\IITK Data Analytics\Python Data Analytics\Course work\Data Handling\Data-Handling-with-Python\data\loans data.csv'

In [8]:
df=pd.read_csv(file)

In [9]:
df

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [10]:
#to check number of rows and columns
df.shape

(2500, 15)

In [11]:
df.describe()
#25% ->
#50% ->
#75% ->

                  ID  Monthly.Income  Inquiries.in.the.Last.6.Months
count    2499.000000     2497.000000                     2497.000000
mean    51643.325330     5689.716608                        0.906688
std     30053.637661     3963.568002                        1.231149
min        10.000000      588.500000                        0.000000
25%     26570.500000     3500.000000                        0.000000
50%     50673.000000     5000.000000                        0.000000
75%     77583.000000     6800.000000                        1.000000
max    104202.000000   102750.000000                        9.000000

In [12]:
df.head() #to check the structure 
#df.tail()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [13]:
df

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

In [14]:
df.sample(5) #random samples

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1290,7007.0,9800,9675,8.59%,36 months,major_purchase,14.99%,HI,MORTGAGE,3583.33,760-764,12,5164,0.0,3 years
1331,27374.0,4800,4800,15.99%,36 months,major_purchase,0%,IL,RENT,4583.33,675-679,2,0,0.0,6 years
213,18161.0,8000,8000,14.09%,36 months,home_improvement,7.68%,IL,RENT,25000.00,675-679,6,28579,1.0,8 years
2458,8692.0,16000,15875,13.85%,36 months,debt_consolidation,12.50%,IL,RENT,6750.00,685-689,12,6799,2.0,7 years
1593,101065.0,20675,20675,17.27%,60 months,debt_consolidation,13.30%,MD,RENT,3916.67,710-714,5,2449,0.0,1 year

In [15]:
#to get columns
df.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

In [16]:
df.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

object (or string) character (due to symbols %, . )

We would want to convert them to a number instead of a string.

In [17]:
#the best way to check the column instead of describe( ), dtype(),shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2499 non-null   float64
 1   Amount.Requested                2499 non-null   object
 2   Amount.Funded.By.Investors      2499 non-null   object
 3   Interest.Rate                   2500 non-null   object
 4   Loan.Length                     2499 non-null   object
 5   Loan.Purpose                    2499 non-null   object
 6   Debt.To.Income.Ratio            2499 non-null   object
 7   State                           2499 non-null   object
 8   Home.Ownership                  2499 non-null   object
 9   Monthly.Income                  2497 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2496 non-null   object
 12  Revolving.CREDIT.Balance        2497 non-null   object
 13  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 14  Employment.Length               2422 non-null   object
dtypes: float64(3), object(12)
memory usage: 293.1+ KB

Now we want to subset our data

In [18]:
df1=df.iloc[3:7,1:5] #works with absolute positions
df1 #but we dont use this in practice much

  Amount.Requested Amount.Funded.By.Investors Interest.Rate Loan.Length
3            10000                       9975         9.99%   36 months
4            12000                      12000        11.71%   36 months
5             6000                       6000        15.31%   36 months
6            10000                      10000         7.90%   36 months

In [19]:
df1.iloc[2:4,1:3]

  Amount.Funded.By.Investors Interest.Rate
5                       6000        15.31%
6                      10000         7.90%

Subsetting by conditions

In [20]:
df[(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000)]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
7,22090.0,33500,33450,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12,27874,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2494,49957.0,24000,23975,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13,17521,0.0,5 years
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4,4544,0.0,10+ years

In [21]:
df[['Home.Ownership','Monthly.Income']] #for multiple columns, give within lists

     Home.Ownership  Monthly.Income
0          MORTGAGE         6541.67
1          MORTGAGE         4583.33
2          MORTGAGE        11500.00
3          MORTGAGE         3833.33
4              RENT         3195.00
...             ...             ...
2495       MORTGAGE         9250.00
2496            OWN         8903.25
2497       MORTGAGE         2166.67
2498           RENT         3500.00
2499           RENT         3875.00

[2500 rows x 2 columns]

both conditions and column names we need to using .loc with dataframe name

In [22]:
#df.loc[(condition) & (condition) , Column names]
df.loc[(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000) , ['Home.Ownership','Monthly.Income']]

     Home.Ownership  Monthly.Income
0          MORTGAGE         6541.67
1          MORTGAGE         4583.33
2          MORTGAGE        11500.00
3          MORTGAGE         3833.33
7          MORTGAGE        13863.42
...             ...             ...
2493       MORTGAGE         7083.33
2494       MORTGAGE         6666.67
2495       MORTGAGE         9250.00
2496            OWN         8903.25
2497       MORTGAGE         2166.67

[1631 rows x 2 columns]

In [23]:
# Exercise: 
# ignore header of csv files and how to pass our own column names. 
# how to read first 100 lines from the file
# how to change default for missing values

if we want to negate a condition use '~' SIGN

In [24]:
df[~(df['Home.Ownership'] == 'MORTGAGE') | (df['Monthly.Income']>5000)]

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years
5,62403.0,6000,6000,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17,10391,2.0,3 years
6,48808.0,10000,10000,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10,15957,0.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,49957.0,24000,23975,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13,17521,0.0,5 years
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18,18898,1.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7,7589,0.0,10+ years

REmove columns using function 'drop()'

In [25]:
#axis=0 :rows , axis=1: columns

In [26]:
df.drop(['Home.Ownership','Monthly.Income'],axis=1) #by default it looks for rows

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,695-699,11,14469,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,23735.0,30000,29950,16.77%,60 months,debt_consolidation,19.23%,NY,705-709,15,45880,1.0,8 years
2496,65882.0,16000,16000,14.09%,60 months,home_improvement,21.54%,MD,740-744,18,18898,1.0,10+ years
2497,55610.0,10000,10000,13.99%,36 months,debt_consolidation,4.89%,PA,680-684,4,4544,0.0,10+ years
2498,38576.0,6000,6000,12.42%,36 months,major_purchase,16.66%,NJ,675-679,8,.,0.0,5 years
2499,3116.0,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,670-674,7,7589,0.0,10+ years